<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<body>

<div th:fragment="searchLoto(result)">
	<div class="col-md-4 col-xs-12">
		<legend th:text="#{searchBlock.searchLoto.pageCnt}"></legend>
		<div class="row" style="height: 30px;">
		<div class="col-md-12">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label th:class="'btn btn-outline-secondary' + (${result.pageCntRadio == 10} ? ' active' : '')">
					<input type="radio" name="pageCntRadio" value="10" 
						id="pageCntRadio10" autocomplete="off" th:checked="${result.pageCntRadio == 10}" 
						th:text="${T(sha.work.enums.PageCntType).MAX_10.getName()}"/>
				</label>
				<label th:class="'btn btn-outline-secondary' + (${result.pageCntRadio == 25} ? ' active' : '')">
					<input type="radio" name="pageCntRadio" value="25"
						id="pageCntRadio25" autocomplete="off" th:checked="${result.pageCntRadio == 25}"
						th:text="${T(sha.work.enums.PageCntType).MAX_25.getName()}"/>
				</label>
				<label th:class="'btn btn-outline-secondary' + (${result.pageCntRadio == 50} ? ' active' : '')">
					<input type="radio" name="pageCntRadio" value="50"
						id="pageCntRadio50" autocomplete="off" th:checked="${result.pageCntRadio == 50}"
						th:text="${T(sha.work.enums.PageCntType).MAX_50.getName()}"/>
				</label>
				<label th:class="'btn btn-outline-secondary' + (${result.pageCntRadio == 75} ? ' active' : '')">
					<input type="radio" name="pageCntRadio" value="75"
						id="pageCntRadio75" autocomplete="off" th:checked="${result.pageCntRadio == 75}"
						th:text="${T(sha.work.enums.PageCntType).MAX_75.getName()}"/>
				</label>
				<label th:class="'btn btn-outline-secondary' + (${result.pageCntRadio == 100} ? ' active' : '')">
					<input type="radio" name="pageCntRadio" value="100"
						id="pageCntRadio100" autocomplete="off" th:checked="${result.pageCntRadio == 100}"
						th:text="${T(sha.work.enums.PageCntType).MAX_100.getName()}"/>
				</label>
			</div>
		</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<legend th:text="#{searchBlock.searchLoto.orderType}"></legend>
		<div class="row">
		<div class="col-md-12">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label id="orderTypeAsc" 
					th:class="'btn btn-outline-secondary' + (${result.orderType == 'asc'} ? ' active' : '')">
					<input id="orderTypeAscRadio" type="radio" name="orderType" 
						value="asc" th:checked="${result.orderType == 'asc'}"
						 autocomplete="off" th:text="${T(sha.work.enums.PageOrderType).ASC.getName()}"/>
				</label>
				<label id="orderTypeDesc" 
					th:class="'btn btn-outline-secondary' + (${result.orderType == 'desc'} ? ' active' : '')">
					<input id="orderTypeDescRadio" type="radio" name="orderType" 
					value="desc" th:checked="${result.orderType == 'desc'}"
						autocomplete="off" th:text="${T(sha.work.enums.PageOrderType).DESC.getName()}"/>
				</label>
			</div>
		</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<legend th:text="#{searchBlock.searchLoto.searchType.title}"></legend>
		<div class="row">
		<div class="col-md-12">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
				<label id="searchByDt" 
					th:class="'btn btn-outline-secondary' + (${result.searchTypeRadio == '0'} ? ' active' : '')">
					<input id="searchByDtRadio" type="radio" name="searchTypeRadio" 
						value="0" th:checked="${result.searchTypeRadio == '0'}"
						 autocomplete="off" th:text="#{searchBlock.searchLoto.searchType.searchByDt}"/>
				</label>
				<label id="searchByTurn" 
					th:class="'btn btn-outline-secondary' + (${result.searchTypeRadio == '1'} ? ' active' : '')">
					<input id="searchByTurnRadio" type="radio" name="searchTypeRadio" 
					value="1" th:checked="${result.searchTypeRadio == '1'}"
						autocomplete="off" th:text="#{searchBlock.searchLoto.searchType.searchByTurn}"/>
				</label>
			</div>
		</div>
		</div>
	</div>
	<div class="col-md-4 col-xs-12">
		<legend id="searchShowTitle" th:text="#{searchBlock.searchLoto.searchCondition.title}"></legend>
		<div class="row">
		<div class="col-md-12" style="height: 30px;">
			<div id="searchByDtShowDiv" class="form-group" 
				th:style="'display: ' + (${result.searchTypeRadio == '0'} ? 'block;' : 'none;')">
				<div class="input-group">
					<input id="searchDt" name="searchDt" type="text" class="form-control-sm form_datetime text-center" 
							placeholder="yyyy/mm/dd" th:value="${result.searchDt}" readonly="true"/>
					<div class="input-group-append">
						<span class="input-group-text" th:text="#{searchBlock.searchLoto.searchCondition.searchDt}"></span>
					</div>
				</div>
			</div>
			<div id="searchByTurnShowDiv" class="form-group" 
				th:style="'display: ' + (${result.searchTypeRadio == '1'} ? 'block;' : 'none;')">
				<div class="input-group">
					<input type="number" name="searchTurnFrom" class="form-control-sm text-right" 
						step="10" min="1" max="1000" th:value="${result.searchTurnFrom}"/>
					<div class="input-group-append">
						<span class="input-group-text" th:text="#{searchBlock.searchLoto.searchCondition.searchTurnFrom}"></span>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>

</body>
</html>