<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<title>SHA LOTO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- CSS -->
<style type="text/css">
	
</style>
<div class="row">
	<div class="col-sm-12">
		<legend>グラフ</legend>
	</div>
	<div id="chartDiv" class="col-sm-12">
	</div>
	<div class="col-sm-12">
		<legend>データ</legend>
	</div>
	<div class="col-sm-12 table-responsive">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<td class="td-t2s label-14b text-center">数字</td>
					<td class="info label-14b text-center" th:text="${T(sha.work.enums.Loto7NumberType).NOMAL_NUMBER.getName()}"></td>
					<td class="danger label-14b text-center" th:text="${T(sha.work.enums.Loto7NumberType).BONUS_NUMBER1.getName()}"></td>
					<td class="warning label-14b text-center" th:text="${T(sha.work.enums.Loto7NumberType).BONUS_NUMBER2.getName()}"></td>		
				</tr>
			</thead>
			<tbody>
				<tr th:each="member : ${resultList.p1List}">
					<td class="text-center label-14b" th:text="${member.numberName}"></td>
					<td class="text-right">
						<span class="badge badge-primary label-14b">
							<span style="color: #E7CF59" th:text="${member.numberValue}"></span>回
						</span>
					</td>
					<td class="text-right">
						<span class="badge badge-info label-14b">
							<span style="color: #E7CF59" th:text="${member.bonusNumber1Value}"></span>回
						</span>
					</td>
					<td class="text-right">
						<span class="badge badge-warning label-14b">
							<span style="color: #E7CF59" th:text="${member.bonusNumber2Value}"></span>回
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/
	
	$(document).ready(function(){
	    var svgWidth = $('#okPanel').width();
	    var svgHeight = 300;
	    var rangeColor = [ 
			/*[[${T(sha.work.enums.Loto7NumberType).NOMAL_NUMBER.getBarColor()}]]*/, 
			/*[[${T(sha.work.enums.Loto7NumberType).BONUS_NUMBER1.getBarColor()}]]*/, 
			/*[[${T(sha.work.enums.Loto7NumberType).BONUS_NUMBER2.getBarColor()}]]*/ 
		]
		var keys = [
			/*[[${T(sha.work.enums.Loto7NumberType).NOMAL_NUMBER.getKey()}]]*/, 
			/*[[${T(sha.work.enums.Loto7NumberType).BONUS_NUMBER1.getKey()}]]*/, 
			/*[[${T(sha.work.enums.Loto7NumberType).BONUS_NUMBER2.getKey()}]]*/
		];

		var names = [ 
			/*[[${T(sha.work.enums.Loto7NumberType).NOMAL_NUMBER.getName()}]]*/,
			/*[[${T(sha.work.enums.Loto7NumberType).BONUS_NUMBER1.getName()}]]*/,
			/*[[${T(sha.work.enums.Loto7NumberType).BONUS_NUMBER2.getName()}]]*/
		];
	    
		//data
		var data = /*[[${resultList.p1List}]]*/ null;
		
		var titleHeader = "ロト7(LOTO7)";
		var titleFooter = "各数字過去出た回数グループ表示";
		var xTitle = "（X軸：数字；　Y軸：回数）";
		var title = titleHeader + titleFooter;
		
		d3.select("#chartDiv").select("svg").remove();
		var svg = d3.select("#chartDiv").append("svg");
		
		ShaChart.barChart.groupBarChart(svg, svgWidth, svgHeight, data, 
				rangeColor, keys, names,
				title, xTitle);
		
		$('#okPanelTitle').text(title);
	});
		

/*]]>*/
</script>

	
	
</body>

</html>