<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<title>SHA LOTO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- CSS -->
<style type="text/css">
	
	
</style>

<div class="row">	
	<div class="col-sm-12">
		<div class="col-sm-12">
			<legend>グラフ</legend>
		</div>
		<div id="barChartDiv" class="col-sm-6 div-center">
			
		</div>
		<div id="pieChartDiv" class="col-sm-6 div-center">
			
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="bs-component">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a id="totalAvgChartClk" class="nav-link" data-toggle="tab" href="#totalAvgChartDiv" 
						th:text="${T(sha.work.enums.AnalysisType).TOTAL_AVG.getName()}"></a>
				</li>
				<li class="nav-item">
					<a id="maxNumDiffChartClk" class="nav-link" data-toggle="tab" href="#maxNumDiffChartDiv" 
						th:text="${T(sha.work.enums.AnalysisType).MAX_NUM_DIFF.getName()}"></a>
				</li>
				<li class="nav-item">
					<a id="minNumDiffChartClk" class="nav-link" data-toggle="tab" href="#minNumDiffChartDiv"
						th:text="${T(sha.work.enums.AnalysisType).MIN_NUM_DIFF.getName()}"></a>
				</li>
			</ul>
			<div id="chartTabContent" class="tab-content">
				<!-- nomalNumberChart -->
				<div class="tab-pane fade" id="totalAvgChartDiv">
					<div class="col-sm-12">
						<legend>データ</legend>
					</div>
					<div class="col-sm-12 table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<td class="td-t2s label-14b text-center" th:text="${T(sha.work.enums.AnalysisType).TOTAL_AVG.getName()}"></td>
									<td class="info label-14b text-center">出た回数</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="member : ${resultList.summaryTotalAvgList}">
									<td class="text-center label-14b" th:text="${member.numberName}"></td>
									<td class="text-right">
										<span class="badge badge-primary label-14b">
											<span style="color: #E7CF59" th:text="${member.numberValue}"></span>回
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- bonusNumber1Chart -->
				<div class="tab-pane fade" id="maxNumDiffChartDiv">
					<div class="col-sm-12">
						<legend>データ</legend>
					</div>
					<div class="col-sm-12 table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<td class="td-t2s label-14b text-center" th:text="${T(sha.work.enums.AnalysisType).TOTAL_AVG.getName()}"></td>
									<td class="info label-14b text-center">出た回数</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="member : ${resultList.summaryTotalAvgList}">
									<td class="text-center label-14b" th:text="${member.numberName}"></td>
									<td class="text-right">
										<span class="badge badge-primary label-14b">
											<span style="color: #E7CF59" th:text="${member.numberValue}"></span>回
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- bonusNumber2Chart -->
				<div class="tab-pane fade" id="minNumDiffChartDiv">
					<div class="col-sm-12">
						<legend>データ</legend>
					</div>
					<div class="col-sm-12 table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<td class="td-t2s label-14b text-center" th:text="${T(sha.work.enums.AnalysisType).TOTAL_AVG.getName()}"></td>
									<td class="info label-14b text-center">出た回数</td>
								</tr>
							</thead>
							<tbody>
								<tr th:each="member : ${resultList.summaryTotalAvgList}">
									<td class="text-center label-14b" th:text="${member.numberName}"></td>
									<td class="text-right">
										<span class="badge badge-primary label-14b">
											<span style="color: #E7CF59" th:text="${member.numberValue}"></span>回
										</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/

	$(document).ready(function(){
		

		var data = /*[[${resultList.summaryTotalAvgList}]]*/ null;
		

		var titleHeader = "ロト7(LOTO7)";
		var titleFooter = "関連分析";

		var title = titleHeader+titleFooter;
		$('#okPanelTitle').text(title);
		
		$btn_obj = $('#totalAvgChartClk'); 
		$btn_obj.unbind();
		$btn_obj.on('click', function(event) {
			event.preventDefault();
			createTotalAvgChart(data, titleFooter);
		});
		
	    
		$("#totalAvgChartClk").click();
		
	});	
	
	function createTotalAvgChart(data, titleFooter) {
		var itemTitle = /*[[${T(sha.work.enums.AnalysisType).TOTAL_AVG.getName()}]]*/;
		var title = itemTitle + titleFooter;		
		var xTitle = "（X軸：" + itemTitle + "；　Y軸：回数）";
		
		var getName = function (d) {return d.numberName;};
		var getValue = function (d) {return d.numberValue;};
		
		var svgWidth = $('#okPanel').width()-40;
	    var svgHeight = 400;
	    
	    ShaChart.common.initD3Tip();
		var numberTip = d3.tip().attr("class", "d3-tip")
		.offset([0, 0])
		.html(function(d, i) {
			return "<strong>当選数平均値:</strong> <span style='color:#e6b422'>" + getName(data[i]) + "</span><br/>"+
					"<strong>出た回数:</strong> <span style='color:red'>" + getValue(data[i]) + "回</span>";
		});
		ShaChart.barChart.simpleBarChart("#barChartDiv", svgWidth/2, svgHeight, data,
				getName, getValue, numberTip, /*[[${T(sha.work.enums.Loto7NumberType).NOMAL_NUMBER.getBarColor()}]]*/,
				"", xTitle);
		
		var rangeColor = ShaColor.htmlColor.randomColor(40, ShaColor.htmlColor.jpColor);
			
		ShaChart.barChart.pieChart("#pieChartDiv", svgWidth/2, svgHeight, data, 
				getName, getValue, numberTip, rangeColor, "");
	}

/*]]>*/
</script>	
	
</body>

</html>