<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
  th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<title th:text="#{common.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<!-- CSS -->
<style type="text/css">

</style>
<form id="search_form" name="search_form" role="form" method="POST">
<div class="row">
	<div class="col-md-6 col-xs-12">
		<legend id="estimateTitle" th:text="#{loto7Estimate.estimateL1Title}"></legend>
		<div class="row">
			<div class="col-md-12" style="height: 30px;">
				<div id="estimateL1Div" class="form-group">
					<div class="input-group">
						<div class="td-th2 input-group-append">
							<span class="input-group-text" th:text="${T(sha.work.enums.Loto7NumberType).NOMAL_NUMBER.getName()}"></span>
						</div>
						<input type="text" id="l1" name="l1" class="form-control-sm text-center label-14b" 
							style="max-width: 30px;" th:value="${result.l1}"/>
						<input type="text" id="l2" name="l2" class="form-control-sm text-center label-14b" 
							style="max-width: 30px;" th:value="${result.l2}"/>
						<input type="text" id="l3" name="l3" class="form-control-sm text-center label-14b" 
							style="max-width: 30px;" th:value="${result.l3}"/>
						<input type="text" id="l4" name="l4" class="form-control-sm text-center label-14b" 
							style="max-width: 30px;" th:value="${result.l4}"/>
						<input type="text" id="l5" name="l5" class="form-control-sm text-center label-14b" 
							style="max-width: 30px;" th:value="${result.l5}"/>
						<input type="text" id="l6" name="l6" class="form-control-sm text-center label-14b" 
							style="max-width: 30px;" th:value="${result.l6}"/>
						<input type="text" id="l7" name="l7" class="form-control-sm text-center label-14b" 
							style="max-width: 30px;" th:value="${result.l7}"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- BR -->
<div class="row"><div class="col-md-12 col-xs-12 text-right" style="height: 10px;"></div></div>	
<div class="row">
	<div class="col-md-12 col-xs-12 text-right" style="height: 40px;">
		<button id="searchBtn" type="button" class="btn-lg btn-outline-primary btn_com" style="width: 120px;"
			th:text="#{loto7Estimate.btn.estimate}"></button>
	</div>
	<div class="col-md-12 col-sx-12">
		<div class="col-md-12 col-sx-12 div-center">
			<!-- <canvas id="scatterChart" height="200"></canvas> -->
		</div>
	</div>
	<div class="col-md-12 col-xs-12 table-responsive">
		<legend id="estimateTitle" th:text="#{loto7Estimate.data.title}"></legend>
		<table id="resultTable" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<td class="td-t2s label-14b text-center" style="min-width: 170px"
						th:text="#{loto7Estimate.data.td1}"></td>
					<td class="td-t2s label-14b text-center" style="min-width: 50px"
						th:text="#{loto7Estimate.data.td2}"></td>
					<td class="td-t2s label-14b text-center" style="min-width: 320px"
						th:text="#{loto7Estimate.data.td3}"></td>
					<td class="td-t2s label-14b text-center" style="min-width: 50px" 
						th:text="#{loto7Estimate.data.td4}"></td>
				</tr>
				<div th:if="${result.loto7AnalysisP2Out}">
					<!-- TOTAL_AVG -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).TOTAL_AVG.getName()},
						${result.estimateAnalysisBase.totalAvg},
						${result.loto7AnalysisP2Out.summaryTotalAvgList},
						${result.totalAvgRank},
						${result.totalAvgPt}
					)">
					</div>
					<!-- MAX_MIN_DIFF -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).MAX_MIN_DIFF.getName()},
						${result.estimateAnalysisBase.maxMinDiff},
						${result.loto7AnalysisP2Out.summaryMaxMinDiffList},
						${result.maxMinDiffRank},
						${result.maxMinDiffPt}
					)">
					</div>
					<!-- MAX_NUM_DIFF -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).MAX_NUM_DIFF.getName()},
						${result.estimateAnalysisBase.maxNumDiff},
						${result.loto7AnalysisP2Out.summaryMaxNumDiffList},
						${result.maxNumDiffRank},
						${result.maxNumDiffPt}
					)">
					</div>
					<!-- MIN_NUM_DIFF -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).MIN_NUM_DIFF.getName()},
						${result.estimateAnalysisBase.minNumDiff},
						${result.loto7AnalysisP2Out.summaryMinNumDiffList},
						${result.minNumDiffRank},
						${result.minNumDiffPt}
					)">
					</div>
					<!-- NUM_DIFF_AVG -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).NUM_DIFF_AVG.getName()},
						${result.estimateAnalysisBase.numDiffAvg},
						${result.loto7AnalysisP2Out.summaryNumDiffAvgList},
						${result.numDiffAvgRank},
						${result.numDiffAvgPt}
					)">
					</div>
					<!-- EVEN_NUM_CNT -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).EVEN_NUM_CNT.getName()},
						${result.estimateAnalysisBase.evenNumCnt},
						${result.loto7AnalysisP2Out.summaryEvenNumCntList},
						${result.evenNumCntRank},
						${result.evenNumCntPt}
					)">
					</div>
					<!-- ODD_NUM_CNT -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).ODD_NUM_CNT.getName()},
						${result.estimateAnalysisBase.oddNumCnt},
						${result.loto7AnalysisP2Out.summaryOddNumCntList},
						${result.oddNumCntRank},
						${result.oddNumCntPt}
					)">
					</div>
					<!-- SERIAL_NUM_CNT -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).SERIAL_NUM_CNT.getName()},
						${result.estimateAnalysisBase.serialNumCnt},
						${result.loto7AnalysisP2Out.summarySerialNumCntList},
						${result.serialNumCntRank},
						${result.serialNumCntPt}
					)">
					</div>
					<!-- LEFT_AREA_NUM_CNT -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).LEFT_AREA_NUM_CNT.getName()},
						${result.estimateAnalysisBase.leftAreaNumCnt},
						${result.loto7AnalysisP2Out.summaryLeftAreaNumCntList},
						${result.leftAreaNumCntRank},
						${result.leftAreaNumCntPt}
					)">
					</div>
					<!-- CENTER_AREA_NUM_CNT -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).CENTER_AREA_NUM_CNT.getName()},
						${result.estimateAnalysisBase.centerAreaNumCnt},
						${result.loto7AnalysisP2Out.summaryCenterAreaNumCntList},
						${result.centerAreaNumCntRank},
						${result.centerAreaNumCntPt}
					)">
					</div>
					<!-- RIGHT_AREA_NUM_CNT -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7AnalysisType).RIGHT_AREA_NUM_CNT.getName()},
						${result.estimateAnalysisBase.rightAreaNumCnt},
						${result.loto7AnalysisP2Out.summaryRightAreaNumCntList},
						${result.rightAreaNumCntRank},
						${result.rightAreaNumCntPt}
					)">
					</div>
					<!-- PLACE1 -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7SevenAnalysisType).PLACE1.getName()},
						${result.l1},
						${result.l1List},
						${result.l1Rank},
						${result.l1Pt}
					)">
					</div>
					<!-- PLACE2 -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7SevenAnalysisType).PLACE2.getName()},
						${result.l2},
						${result.l2List},
						${result.l2Rank},
						${result.l2Pt}
					)">
					</div>
					<!-- PLACE3 -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7SevenAnalysisType).PLACE3.getName()},
						${result.l3},
						${result.l3List},
						${result.l3Rank},
						${result.l3Pt}
					)">
					</div>
					<!-- PLACE4 -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7SevenAnalysisType).PLACE4.getName()},
						${result.l4},
						${result.l4List},
						${result.l4Rank},
						${result.l4Pt}
					)">
					</div>
					<!-- PLACE5 -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7SevenAnalysisType).PLACE5.getName()},
						${result.l5},
						${result.l5List},
						${result.l5Rank},
						${result.l5Pt}
					)">
					</div>
					<!-- PLACE6 -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7SevenAnalysisType).PLACE6.getName()},
						${result.l6},
						${result.l6List},
						${result.l6Rank},
						${result.l6Pt}
					)">
					</div>
					<!-- PLACE7 -->
					<div th:replace="fragment/table :: estimateTr(
						${T(sha.work.enums.Loto7SevenAnalysisType).PLACE7.getName()},
						${result.l7},
						${result.l7List},
						${result.l7Rank},
						${result.l7Pt}
					)">
					</div>
					<tr>
						<td class="td-th2 text-center" colspan="4">
							<span th:text="#{loto7Estimate.data.td5}"></span>
							<span class="badge badge-warning label-14b">
								<span th:text="${result.totalPt} + 'P'"></span>
							</span>
						</td>
					</tr>
				</div>
			</thead>
		</table>
	</div>
</div>
</form>
<script type="text/javascript" th:inline="javascript">

/*<![CDATA[*/
	$(document).ready(function(){
		
		$("[data-toggle=tooltip]").tooltip();
		
		//--------------------------------------------------------[
		//title init
		var titleLeft = /*[[#{index.loto7.title}]]*/;
		var titleRight = /*[[#{index.btn.loto7.estimate}]]*/;
		//--------------------------------------------------------]
		
		//--------------------------------------------------------[
		//data init
		
		//--------------------------------------------------------]
		
		//--------------------------------------------------------[
	    //page component init	
		//var ctx = $("#scatterChart").get(0).getContext('2d');
	    //var scatterChart = drawScatterChart(ctx, data, titleLeft + titleRight);
		
	    $('#okPanelTitle').text(titleLeft + titleRight);

		//--------------------------------------------------------]
		
		
	  	//--------------------------------------------------------[
		//init bond event to btn

		$btn_obj = $('#searchBtn'); 
		$btn_obj.unbind(); 
		$btn_obj.on('click', function(event) {
			event.preventDefault();
			var postData = $('#search_form').serializeArray();
			if(checkValue(postData)) {
				return;
			}
			ShaCommon.ajax.post(
					/*[[${T(sha.work.common.UrlConstants).USER_LOTO7ESTIMATE}]]*/,    
					postData); 
		});
		
		$('.rankSpan').each(function(i, el) {
			
		});		
	});
	
	function checkValue() {
		//alert(JSON.stringify(postData));
		var objs = [
			$('#l1'), 
			$('#l2'),
			$('#l3'),
			$('#l4'),
			$('#l5'),
			$('#l6'),
			$('#l7'),
		];
		var ttlHeads = [
			/*[[#{loto7Estimate.check.l1}]]*/,
			/*[[#{loto7Estimate.check.l2}]]*/,
			/*[[#{loto7Estimate.check.l3}]]*/,
			/*[[#{loto7Estimate.check.l4}]]*/,
			/*[[#{loto7Estimate.check.l5}]]*/,
			/*[[#{loto7Estimate.check.l6}]]*/,
			/*[[#{loto7Estimate.check.l7}]]*/,
		];
		var msgNonNumber = /*[[#{loto7Estimate.check.nonNumber}]]*/;
		var msgdupliNumber = /*[[#{loto7Estimate.check.duplicateNumber}]]*/;
		var numMap = [];
		for( var i = 0; i < objs.length; i++ ){
			if(!ShaCommon.util.isLoto7Number(objs[i].val())){
				ShaCommon.dialogs.alert(ttlHeads[i]+msgNonNumber);
				objs[i].addClass('alert-input');
				return true;
			} else {
				objs[i].removeClass('alert-input');
			}
		}
		
		for( var i = 0; i < objs.length; i++ ){
			if(i>0 && numMap[objs[i].val()] != null) {
				ShaCommon.dialogs.alert(ttlHeads[i]+msgdupliNumber);
				objs[i].addClass('alert-input');
				return true;
			} else{
				numMap[objs[i].val()] = objs[i].val();
				objs[i].removeClass('alert-input');
			}
		}
		
		return false;
	}

	
/*]]>*/
</script>

	
	
</body>

</html>