<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sha.work.mapper.loto.Loto7Mapper">
	<!-- RESULT MAP -->
	<resultMap id="NumberAndTurns" 
				type="sha.work.entity.query.NumberAndTurnsQuery">
        
    </resultMap>
	
	<!-- SQL CHIP -->
	<sql id="selectNumber">
		SELECT 
			${prefix} AS numberName,
			COUNT(*) AS numberValue
		FROM 
			M_LOTO7
		WHERE (l1 = ${prefix} or l2 = ${prefix} or l3 = ${prefix} or l4 = ${prefix} or l5 = ${prefix} or l6 = ${prefix} or l7 = ${prefix})
	</sql>
	
	<sql id="selectBonusNumber1">
		SELECT 
			${prefix} AS numberName,
			COUNT(*) AS numberValue
		FROM 
			M_LOTO7
		WHERE (B1 = ${prefix})
	</sql>
	
	<sql id="selectBonusNumber2">
		SELECT 
			${prefix} AS numberName,
			COUNT(*) AS numberValue
		FROM 
			M_LOTO7
		WHERE (B2 = ${prefix})
	</sql>
	
	<!-- SELECT -->
	<select id="getAll" resultType="sha.work.dto.loto.Loto7">
		SELECT * FROM M_LOTO7
	</select>
	
	<select id="findByTurn" resultType="sha.work.dto.loto.Loto7">
		SELECT * FROM M_LOTO7 WHERE TURN = #{turn}
	</select>
	
	<select id="getNomalNumbers" resultType="sha.work.dto.loto.Loto7">
		SELECT * FROM M_LOTO7 WHERE TURN = #{turn}
	</select>
	
	<select id="getNomalNumberSum" resultType="sha.work.entity.query.NumberAndTurnsQuery">
		<foreach item="num" index="index" collection="loto7Hanyo">
			<if test="index > 0">UNION </if>
			<include refid="selectNumber"><property name="prefix" value="${num.value}"/></include>
		</foreach>
		ORDER BY numberName	
	</select>
	
	<select id="getBonusNumber1Sum" resultType="sha.work.entity.query.NumberAndTurnsQuery">
		<foreach item="num" index="index" collection="loto7Hanyo">
			<if test="index > 0">UNION </if>
			<include refid="selectBonusNumber1"><property name="prefix" value="${index}"/></include>
		</foreach>
		ORDER BY numberName	
	</select>
	
	<select id="getBonusNumber2Sum" resultType="sha.work.entity.query.NumberAndTurnsQuery">
		<foreach item="num" index="index" collection="loto7Hanyo">
			<if test="index > 0">UNION </if>
			<include refid="selectBonusNumber2"><property name="prefix" value="${index}"/></include>
		</foreach>
		ORDER BY numberName	
	</select>
	
	
	<!-- INSERT -->
	<insert id="save">
		INSERT INTO M_LOTO7
		( 
			TURN
			,OPEN_DT
			,L1
			,L2
			,L3
			,L4
			,L5
			,L6
			,L7
			,B1
			,B2
		 ) VALUES (
			#{turn}
			, #{openDt}
			, #{l1}
			, #{l2}
			, #{l3}
			, #{l4}
			, #{l5}
			, #{l6}
			, #{l7}
			, #{b1}
			, #{b2}
		)
	</insert>
	
</mapper>