<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sha.work.mapper.loto.Loto6Mapper">
	<!-- RESULT MAP -->

	
	<!-- SQL CHIP -->
	
	
	<select id="findByTurn" resultType="sha.work.dto.loto.Loto6">
		SELECT * FROM M_LOTO6 WHERE TURN = #{turn}
	</select>
	
	<insert id="save">
		INSERT INTO M_LOTO6
		( 
			TURN
			,OPEN_DT
			,L1
			,L2
			,L3
			,L4
			,L5
			,L6
			,B1
		 ) VALUES (
			#{turn}
			, #{openDt}
			, #{l1}
			, #{l2}
			, #{l3}
			, #{l4}
			, #{l5}
			, #{l6}
			, #{b1}
		)
	</insert>
	
</mapper>