<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<title th:text="#{common.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no"/>
    
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
	
	<!-- date picker -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" 
		integrity="sha256-I/m6FhcACNYmRoqn1xUnizh6S7jOJsTq+aiJ6BtE2LE=" crossorigin="anonymous" />
	
	<link rel="stylesheet" th:href="@{/css/bootstrap-cosmo.css}"/>
	<link rel="stylesheet" th:href="@{/css/base.css}"/>
	
</head>
<body>
<div class="container" role="main">

	<div class="page-header">
		<h1 th:text="#{index.title}"></h1>
	</div>
	<div class="row">
		<div class="col-md-3 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="#{index.panel.title}"></h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<legend th:text="#{login.title}"></legend>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<!-- ========LOGIN BTN========= -->
							<div sec:authorize="isAuthenticated()">
								<span sec:authentication="name"></span>
							</div>
						</div>
						<div class="col-md-10 col-md-offset-1 visible-xs hidden-lg hidden-md">
							<div class="btn-group" role="group">
								<button id="btnGroupDrop0" type="button" class="btn btn-outline-primary dropdown-toggle btn_com" 
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
									th:text="#{index.login.shortTitle}"></button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop0" x-placement="bottom-start" 
									style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
									<a class="loginClk dropdown-item" 
										sec:authorize="!isAuthenticated()"
										href="#" th:text="#{login.panel.btn.login}"></a>
									<a class="logoutClk dropdown-item" 
										sec:authorize="isAuthenticated()"
										href="#" th:text="#{login.panel.btn.logout}"></a>
								</div>
							</div>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle btn_com" 
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
									th:text="#{index.loto7.shortTitle}"></button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" 
									style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
									<a class="loto7AnalysisP0Clk dropdown-item" 
										href="#" th:text="#{index.btn.analysisP0}"></a>
									<a class="loto7AnalysisP1Clk dropdown-item" 
										href="#" th:text="#{index.btn.analysisP1}"></a>
									<a class="loto7AnalysisP2Clk dropdown-item" 
										href="#" th:text="#{index.btn.analysisP2}"></a>
									<a class="loto7SevenAnalysisClk dropdown-item" 
										href="#" th:text="#{index.btn.loto7.sevenAnalysis}"></a>
									<a class="loto7EstimateClk dropdown-item" 
										sec:authorize="hasAuthority(T(sha.work.enums.AuthorityType).ROLE_USER.getRole()) || 
												hasAuthority(T(sha.work.enums.AuthorityType).ROLE_ADMIN.getRole())"
										href="#" th:text="#{index.btn.loto7.estimate}"></a>
									<a class="loto7AddClk dropdown-item" 
										sec:authorize="hasAuthority(T(sha.work.enums.AuthorityType).ROLE_ADMIN.getRole())"
										href="#" th:text="#{index.btn.loto7.add}"></a>
								</div>
							</div>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop2" type="button" class="btn btn-outline-primary dropdown-toggle btn_com" 
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
									th:text="#{index.loto6.shortTitle}"></button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop2" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
									<a class="loto6AnalysisP0Clk dropdown-item" 
										href="#" th:text="#{index.btn.analysisP0}"></a>
									<a class="loto6AnalysisP1Clk dropdown-item" 
										href="#" th:text="#{index.btn.analysisP1}"></a>
									<a class="loto6AnalysisP2Clk dropdown-item" 
										href="#" th:text="#{index.btn.analysisP2}"></a>
								</div>
							</div>
							<div class="btn-group" role="group">
								<button id="btnGroupDrop3" type="button" class="btn btn-outline-primary dropdown-toggle btn_com" 
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
									th:text="#{index.miniLoto.shortTitle}"></button>
								<div class="dropdown-menu" aria-labelledby="btnGroupDrop3" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
									<a class="miniLotoAnalysisP0Clk dropdown-item" 
										href="#" th:text="#{index.btn.analysisP0}"></a>
									<a class="miniLotoAnalysisP1Clk dropdown-item" 
										href="#" th:text="#{index.btn.analysisP1}"></a>
									<a class="miniLotoAnalysisP2Clk dropdown-item" 
										href="#" th:text="#{index.btn.analysisP2}"></a>
								</div>
							</div>
						</div>
						<div class="col-md-10 col-md-offset-1 visible-lg visible-md hidden-xs">
							<!-- ========LOGIN BTN========= -->
							<button id="login" 
								sec:authorize="!isAuthenticated()"
								type="button" class="loginClk btn btn btn-block btn-outline-info btn_com"
								th:text="#{login.panel.btn.login}"></button>
							<button id="logout" 
								sec:authorize="isAuthenticated()"
								type="button" class="logoutClk btn btn btn-block btn-outline-info btn_com"
								th:text="#{login.panel.btn.logout}"></button>
						</div>
						<div class="col-md-10 col-md-offset-1 visible-lg visible-md hidden-xs">
							<legend th:text="#{index.loto7.title}"></legend>
						</div>
						<div class="col-md-10 col-md-offset-1 visible-lg visible-md hidden-xs">
							<!-- ========LOTO7 ANALYSIS BTN========= -->
							<button type="button" 
								class="loto7AnalysisP0Clk btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP0}"></button> 
							<button type="button" 
								class="loto7AnalysisP1Clk btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP1}"></button>
							<!-- <button id="loto7AnalysisP1Group" type="button" class="btn btn btn-block btn-outline-primary"
								th:text="#{index.btn.analysisP1Group}"></button> -->
							<button type="button" 
								class="loto7AnalysisP2Clk btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP2}"></button>
							<button type="button" 
								class="loto7SevenAnalysisClk btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.loto7.sevenAnalysis}"></button>
							<button 
								sec:authorize="hasAuthority(T(sha.work.enums.AuthorityType).ROLE_USER.getRole()) || 
												hasAuthority(T(sha.work.enums.AuthorityType).ROLE_ADMIN.getRole())"
								 type="button" class="loto7EstimateClk btn btn btn-block btn-outline-warning btn_com"
									th:text="#{index.btn.loto7.estimate}"></button> 
							<button 
								sec:authorize="hasAuthority(T(sha.work.enums.AuthorityType).ROLE_ADMIN.getRole())"
								type="button" class="loto7AddClk btn btn btn-block btn-outline-warning btn_com"
									th:text="#{index.btn.loto7.add}"></button>
						</div>
						<div class="col-md-10 col-md-offset-1 visible-lg visible-md hidden-xs">
							<legend th:text="#{index.loto6.title}"></legend>
						</div>
						<div class="col-md-10 col-md-offset-1 visible-lg visible-md hidden-xs">
							<!-- ========LOTO6 ANALYSIS BTN========= -->
							<button id="loto6AnalysisP0" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP0}"></button> 
							<button id="loto6AnalysisP1" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP1}"></button>
							<!-- <button id="loto6AnalysisP1Group" type="button" class="btn btn btn-block btn-outline-primary"
								th:text="#{index.btn.analysisP1Group}"></button> -->
							<button id="loto6AnalysisP2" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP2}"></button> 
							<button id="loto6SixAnalysis" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.loto6.sixAnalysis}"></button>
							<button id="loto6Estimate" 
								sec:authorize="hasAuthority(T(sha.work.enums.AuthorityType).ROLE_USER.getRole()) || 
												hasAuthority(T(sha.work.enums.AuthorityType).ROLE_ADMIN.getRole())"
								type="button" class="btn btn btn-block btn-outline-warning btn_com"
								th:text="#{index.btn.loto6.estimate}"></button>
							<button id="loto6Add" 
								sec:authorize="hasAuthority(T(sha.work.enums.AuthorityType).ROLE_ADMIN.getRole())"
								type="button" class="btn btn btn-block btn-outline-warning btn_com"
								th:text="#{index.btn.loto6.add}"></button>	 
						</div>
						<div class="col-md-10 col-md-offset-1 visible-lg visible-md hidden-xs">
							<legend th:text="#{index.miniLoto.title}"></legend>
						</div>
						<div class="col-md-10 col-md-offset-1 visible-lg visible-md hidden-xs">
							<!-- ========MINILOTO ANALYSIS BTN========= -->
							<button id="miniLotoAnalysisP0" type="button" class="btn btn btn-block btn-outline-primary btn_com" 
								th:text="#{index.btn.analysisP0}"></button> 
							<button id="miniLotoAnalysisP1" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP1}"></button>
							<!-- <button id="loto7AnalysisP1Group" type="button" class="btn btn btn-block btn-outline-primary"
								th:text="#{index.btn.analysisP1Group}"></button> -->
							<button id="miniLotoAnalysisP2" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP2}"></button>
							<button id="miniLotoFiveAnalysis" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.miniLoto.fiveAnalysis}"></button> 	
							<button id="miniLotoEstimate" 
								sec:authorize="hasAuthority(T(sha.work.enums.AuthorityType).ROLE_USER.getRole()) || 
												hasAuthority(T(sha.work.enums.AuthorityType).ROLE_ADMIN.getRole())"
								type="button" class="btn btn btn-block btn-outline-warning btn_com"
								th:text="#{index.btn.miniLoto.estimate}"></button>
							<button id="miniLotoAdd" 
								sec:authorize="hasAuthority(T(sha.work.enums.AuthorityType).ROLE_ADMIN.getRole())"
								type="button" class="btn btn btn-block btn-outline-warning btn_com"
								th:text="#{index.btn.miniLoto.add}"></button>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end col-sm-3 -->
		<div class="col-md-9 col-xs-12">
			<div id="okPanel" class="panel panel-success">
				<div class="panel-heading">
					<h3 id="okPanelTitle" class="panel-title" th:text="#{index.okPanel.title}"></h3>
				</div>
				<div class="panel-body">
					<!-- ========RESULT BODY========= -->
					<div id="okResultBody"></div>
				</div>
			</div>
			<div id="ngPanel" class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="#{index.ngPanel.title}"></h3>
				</div>
				<div class="panel-body">
					<div id="ngResultBody">
					</div>
				</div>
			</div>
		</div><!-- end col-sm-9 -->
	</div><!-- end row -->

	
</div>	
<!-- /container -->
<div th:replace="fragment/dialogs :: progress"></div>
<div th:replace="fragment/dialogs :: alert"></div>
<div th:replace="fragment/dialogs :: confirm"></div>
<div th:replace="fragment/dialogs :: success"></div>
<!-- include bootstrapLib  -->
<div th:replace="fragment/footer :: bootstrapLib"></div>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
	var commonBtn;
	
	//-------------------------------------------------------
	//LOGIN
	$btn_obj = $('.loginClk'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).USER_LOGIN}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('.logoutClk'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		var title = /*[[#{login.panel.btn.logout}]]*/;
		var confirmMsg = /*[[#{login.logout.confirm.msg}]]*/;
		ShaCommon.dialogs.confirm(
			title,
			confirmMsg,
			function(){
				ShaCommon.ajax.get(
						/*[[${T(sha.work.common.UrlConstants).LOGOUT}]]*/, 
						null, 
						ShaCommon.ajax.callBackOk, 
						ShaCommon.ajax.callBackNg);
			}
		);
		
	});
	
	//-------------------------------------------------------
	//LOTO7		
	$btn_obj = $('.loto7AnalysisP0Clk'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7ANALYSISP0}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('.loto7AnalysisP1Clk'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7ANALYSISP1}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto7AnalysisP1Group'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7ANALYSISP1GROUP}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('.loto7AnalysisP2Clk'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7ANALYSISP2}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('.loto7SevenAnalysisClk'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7SEVENANALYSIS}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('.loto7EstimateClk'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).USER_LOTO7ESTIMATE}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('.loto7AddClk'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).ADMIN_LOTO7ADD}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	//-------------------------------------------------------
	//LOTO6
	$btn_obj = $('#loto6AnalysisP0'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6ANALYSISP0}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6AnalysisP1'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6ANALYSISP1}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6AnalysisP1Group'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6ANALYSISP1GROUP}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6AnalysisP2'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6ANALYSISP2}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6SixAnalysis'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6SIXANALYSIS}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	
	$btn_obj = $('#loto6Estimate'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).USER_LOTO6ESTIMATE}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6Add'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).ADMIN_LOTO6ADD}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});

	//-------------------------------------------------------
	//MINILOTO
	$btn_obj = $('#miniLotoAnalysisP0'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_MINILOTOANALYSISP0}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#miniLotoAnalysisP1'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_MINILOTOANALYSISP1}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});

	$btn_obj = $('#miniLotoAnalysisP2'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_MINILOTOANALYSISP2}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#miniLotoFiveAnalysis'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_MINILOTOFIVEANALYSIS}]]*/,  
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#miniLotoEstimate'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).USER_MINILOTOESTIMATE}]]*/,   
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#miniLotoAdd'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).ADMIN_MINILOTOADD}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$("#ngPanel").hide();
});

/*]]>*/
</script>

</body>
</html>