<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<title th:text="#{common.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="format-detection" content="telephone=no"/>
    
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
		integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap-cosmo.css}"/>
	<link rel="stylesheet" th:href="@{/css/base.css}"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}"/>
	
</head>
<body>
<div class="container" role="main">

	<div class="page-header">
		<h1 th:text="#{index.title}"></h1>
	</div>
	<div class="row">
		<div class="col-md-3 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="#{index.panel.title}"></h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<legend th:text="#{index.loto7.title}"></legend>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<!-- ========LOTO7 ANALYSIS BTN========= -->
							<button id="loto7AnalysisP0" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP0}"></button> 
							<button id="loto7AnalysisP1" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP1}"></button>
							<!-- <button id="loto7AnalysisP1Group" type="button" class="btn btn btn-block btn-outline-primary"
								th:text="#{index.btn.analysisP1Group}"></button> -->
							<button id="loto7AnalysisP2" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP2}"></button>
							<button id="loto7SevenAnalysis" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.loto7.sevenAnalysis}"></button>
							<button id="loto7Estimate" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.loto7.estimate}"></button> 
							<button id="loto7Add" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.loto7.add}"></button>
								
						</div>
						<div class="col-md-10 col-md-offset-1">
							<legend th:text="#{index.loto6.title}"></legend>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<!-- ========LOTO6 ANALYSIS BTN========= -->
							<button id="loto6AnalysisP0" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP0}"></button> 
							<button id="loto6AnalysisP1" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP1}"></button>
							<!-- <button id="loto6AnalysisP1Group" type="button" class="btn btn btn-block btn-outline-primary"
								th:text="#{index.btn.analysisP1Group}"></button> -->
							<button id="loto6AnalysisP2" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP2}"></button> 
							<button id="loto6SixAnalysis" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.loto6.sixAnalysis}"></button>
							<button id="loto6Estimate" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.loto6.estimate}"></button>
							<button id="loto6Add" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.loto6.add}"></button>	 
						</div>
						<div class="col-md-10 col-md-offset-1">
							<legend th:text="#{index.miniLoto.title}"></legend>
						</div>
						<div class="col-md-10 col-md-offset-1">
							<!-- ========MINILOTO ANALYSIS BTN========= -->
							<button id="miniLotoAnalysisP0" type="button" class="btn btn btn-block btn-outline-primary btn_com" 
								th:text="#{index.btn.analysisP0}"></button> 
							<button id="miniLotoAnalysisP1" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP1}"></button>
							<!-- <button id="loto7AnalysisP1Group" type="button" class="btn btn btn-block btn-outline-primary"
								th:text="#{index.btn.analysisP1Group}"></button> -->
							<button id="miniLotoAnalysisP2" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.analysisP2}"></button>
							<button id="miniLotoFiveAnalysis" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.miniLoto.fiveAnalysis}"></button> 	
							<button id="miniLotoEstimate" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.miniLoto.estimate}"></button>
							<button id="miniLotoAdd" type="button" class="btn btn btn-block btn-outline-primary btn_com"
								th:text="#{index.btn.miniLoto.add}"></button>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end col-sm-3 -->
		<div class="col-md-9 col-xs-12">
			<div id="okPanel" class="panel panel-success">
				<div class="panel-heading">
					<h3 id="okPanelTitle" class="panel-title" th:text="#{index.okPanel.title}"></h3>
				</div>
				<div class="panel-body">
					<!-- ========RESULT BODY========= -->
					<div id="okResultBody"></div>
				</div>
			</div>
			<div id="ngPanel" class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="panel-title" th:text="#{index.ngPanel.title}"></h3>
				</div>
				<div class="panel-body">
					<div id="ngResultBody">
					</div>
				</div>
			</div>
		</div><!-- end col-sm-9 -->
	</div><!-- end row -->

	
</div>	
<!-- /container -->
<div th:replace="fragment/dialogs :: progress"></div>
<div th:replace="fragment/dialogs :: alert"></div>
<div th:replace="fragment/dialogs :: confirm"></div>
<div th:replace="fragment/dialogs :: success"></div>
<!-- include bootstrapLib  -->
<div th:replace="fragment/footer :: bootstrapLib"></div>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function(){
	var commonBtn;
	//-------------------------------------------------------
	//LOTO7		
	$btn_obj = $('#loto7AnalysisP0'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7ANALYSISP0}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto7AnalysisP1'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7ANALYSISP1}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto7AnalysisP1Group'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7ANALYSISP1GROUP}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto7AnalysisP2'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7ANALYSISP2}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto7SevenAnalysis'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO7SEVENANALYSIS}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto7Estimate'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).USER_LOTO7ESTIMATE}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto7Add'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).ADMIN_LOTO7ADD}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	//-------------------------------------------------------
	//LOTO6
	$btn_obj = $('#loto6AnalysisP0'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6ANALYSISP0}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6AnalysisP1'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6ANALYSISP1}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6AnalysisP1Group'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6ANALYSISP1GROUP}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6AnalysisP2'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6ANALYSISP2}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6SixAnalysis'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_LOTO6SIXANALYSIS}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	
	$btn_obj = $('#loto6Estimate'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).USER_LOTO6ESTIMATE}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#loto6Add'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).ADMIN_LOTO6ADD}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});

	//-------------------------------------------------------
	//MINILOTO
	$btn_obj = $('#miniLotoAnalysisP0'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_MINILOTOANALYSISP0}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#miniLotoAnalysisP1'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_MINILOTOANALYSISP1}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});

	$btn_obj = $('#miniLotoAnalysisP2'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_MINILOTOANALYSISP2}]]*/, 
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#miniLotoFiveAnalysis'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).LOTO_MINILOTOFIVEANALYSIS}]]*/,  
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#miniLotoEstimate'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).USER_MINILOTOESTIMATE}]]*/,   
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
	
	$btn_obj = $('#miniLotoAdd'); 
	$btn_obj.unbind(); 
	$btn_obj.on('click', function(event) {
		commonBtn = $(this);
		event.preventDefault();
		ShaCommon.ajax.get(
				/*[[${T(sha.work.common.UrlConstants).ADMIN_MINILOTOADD}]]*/,
				null, 
				ShaCommon.ajax.callBackOk, 
				ShaCommon.ajax.callBackNg); 
	});
});

/*]]>*/
</script>

</body>
</html>